  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #283747;

  }


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

  h2 {
        color: white;
  }

  .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 2vw;

}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}

*{
	box-sizing: border-box;
}

.thumbnail-slider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .item{
  height: 400px;
  background-color: grey;
  line-height: 400px;
  text-align: center;
  color:#ffffff;
  float: left;
}

.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color: green;
	color:#ffffff;

}

.movieTitle{
    width:100%;
    height:50px;
    line-height:50px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight:bold;
    text-align:center;
}

.movieRating{
    top: 280px;
    position: relative;
    line-height:50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
}

{% block css %}

{% endblock css %}